{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


{% load static%}
<style>
  h1 {
   font-family: Impact, Charcoal, sans-serif;
   }


</style>

<main role="main" xmlns:text-shadow="http://www.w3.org/1999/xhtml">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-image:url({% static 'FB_IMG_1596288436129.jpg' %}); background-repeat: no-repeat;
  background-position: center;">
    <div class="container">
      <h1  style="color:black;" class="display-3">SAKUSHAL HERBAL ENTERPRIESES!!</h1>
      <p style="color:black;">      Health, Nutritional & Bodybuilding Supplements Online Store
Sakushal herbal is dedicated to providing everything that you will need in your journey towards a fitter  you. From whey protein, fat burners, to other nutritional supplements that you need, Sakushal Herbal is your one-stop-shop. There are several features that set Sakushal herbal apart, such as:
The widest range of top  health care supplements.
Option to compare products before purchasing them.
Learn about the products that you are purchasing in detail.
Benefit from exclusive discounts and offers.
Buy only authentic products sourced directly from the manufacturers.
High quality and safety standards.
Easy return and delivery policies.<p>Sakushal Herbal Enterprises (www.Sakushalherbal.com) strives to be one-stop fitness destination. HealthKart offers fitness products, services and community to help consumers achieve their fitness goals. Fitness products offered include protein supplements, weight loss products etc, and community allows consumers to connect and review transformation stories of other fitness enthusiasts. Sakushal Herbal also offers free assistance and nutrition counselling.
Based on Ayurveda
Combining thousands of years of Ayurvedic wisdom & the Modern day foods - we create products that give you the benefits of both the sciences

Sakushal Herbal Enterprises was founded in 03-August-2020.
The company is headquartered in New Delhi, India.
    </p>
        <p>
Website
http://www.sakushalherbal.in
      </p>
        <p>

Industries
Internet, Health, Wellness and Fitness
        </p>
        <p>
Company size
12-25 employees
        </p>
        <p>
Headquarters
New Delhi, Delhi
        </p>
        <p>
Type
Privately Held
        </p>
      <p>
Founded
2020
      </p>
Specialties
E-Commerce, Nutrition, Wellness, fitness, and health
      <p>
<a href="/">sakushalherbalenterprises@gmail.com!</a>
        </p>
        <p>
            <h1> MADE IN INDIA!</h1>
        </p>
</p1>
      <p><a class="btn btn-lg" href="/" role="button"  style="background-color: #15DAD7;">back</a></p>
    </div>
  </div>
  <!-- /container -->

</main>





{% endblock %}
